@import url('./theme-variables.css');

/*
  heading is 0.8x smaller on tiny mobiles
 */

body {
  color : var(--black);
}

h1 {
  font-size   : 2.4rem;
  line-height : 2.64rem;
}

@media (min-width : 376px) {
  h1 {
    font-size   : 3rem;
    line-height : 3.3rem;
  }
}

h2 {
  font-size     : 1.55rem;
  line-height   : 1.98rem;
  margin-bottom : calc(var(--rhythm) * 0.5);
}

@media (min-width : 376px) {
  h2 {
    font-size   : 1.93318rem;
    line-height : 2.475rem;
  }
}

a {
  color           : var(--blue-primary);
  text-decoration : none;
}

a:visited, a:hover {
  color : var(--blue-secondary);
}

/*
  Headroom styles
 */

.headroom {
  top     : 0;
  left    : 0;
  right   : 0;
  z-index : 1;
}

.headroom--unfixed {
  position  : relative;
  transform : translateY(0);
}

.headroom--scrolled {
  transition : transform 200ms ease-in-out;
}

.headroom--unpinned {
  position  : fixed;
  transform : translateY(-100%);
}

.headroom--pinned {
  position   : fixed;
  transform  : translateY(0%);
  box-shadow : 0 2px 5px #CECECB;
}
