@import './theme-variables.css';

.rfc-page pre {
  font-family : inherit;
}

pre {
  box-shadow       : 2px 2px 10px color(var(--black) whiteness(75%));
  padding          : calc(var(--rhythm));
  line-height      : 1.42;
  overflow         : auto;
  background-color : var(--white);
}

tt, code {
  background-color : var(--white);
  padding          : 0.2em 0;
}

pre code {
  background  : none;
  line-height : 1.42;
}

code:before, code:after, tt:before, tt:after {
  letter-spacing : -0.2em;
  content        : "\u00A0";
}

pre code:before, pre code:after, pre tt:before, pre tt:after {
  content : "";
}

.hljs-comment,
.hljs-quote {
  color      : #998;
  font-style : italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color       : color(var(--orange) shade(20%));
  font-weight : bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color : var(--blue-primary);
}

.hljs-string,
.hljs-doctag {
  color : var(--orange);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color       : var(--blue-secondary);
  font-weight : bold;
}

.hljs-subst {
  font-weight : normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color       : #458;
  font-weight : bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color       : #000080;
  font-weight : normal;
}

.hljs-regexp,
.hljs-link {
  color : var(--orange);
}

.hljs-symbol,
.hljs-bullet {
  color : #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color : #0086b3;
}

.hljs-meta {
  color       : #999;
  font-weight : bold;
}

.hljs-deletion {
  background : #fdd;
}

.hljs-addition {
  background : #dfd;
}

.hljs-emphasis {
  font-style : italic;
}

.hljs-strong {
  font-weight : bold;
}
