@import url('./theme-variables.css');

/*@custom-media --large-phone (min-width: 321px);*/
/*@custom-media --tablet (min-width: 415px);*/
/*@custom-media --low-dpi (min-width: 769px);*/
/*@custom-media --hi-dpi (min-width: 1281px);*/

/*
  margin helpers
  (margin)-(axis)-(amount)
 */
.m-b-1-2 {
  margin-bottom : calc(var(--rhythm) * 0.5);
}

.m-b-1 {
  margin-bottom : var(--rhythm);
}

.m-t-1 {
  margin-top : var(--rhythm);
}

.m-y-1 {
  margin-top    : var(--rhythm);
  margin-bottom : var(--rhythm);
}

.m-b-2 {
  margin-bottom : calc(var(--rhythm) * 2);
}

.m-x-a {
  margin-left  : auto;
  margin-right : auto;
}

.m-x-n {
  margin-left  : calc(var(--rhythm) * -1);
  margin-right : calc(var(--rhythm) * -1);
}

/*
  padding helpers
  (padding)-(axis)-(amount)
 */

.p-a-1-4 {
  padding : calc(var(--rhythm) * 0.25);
}

.p-a-1-2 {
  padding : calc(var(--rhythm) * 0.5);
}

.p-a-1 {
  padding : var(--rhythm);
}

.p-l-1 {
  padding-left : var(--rhythm);
}
