:root {
                    /*
                      colours
                     */
  --white           : #FBFBF8;
  --black           : #0A2F45;
  --orange          : #FC9F5B;
  --blue-primary    : #77CDCD;
  --blue-secondary  : #5AB1BB;

                    /*
                      base measurement unit
                     */
  --rhythm          : 1.65rem;

  --container-width : 640px;

  --title-font      : 'Source Code Pro', monospace;
  --title-weight    : 300;
}
