.container {
  position : relative;
  width    : 55%;
  margin-bottom : -4.95rem;
}

.even {
  composes   : container;
  text-align : right;
  right      : 5%;
}

.odd {
  composes   : container;
  text-align : left;
  left       : 60%;
}

.heading {
  display         : flex;
  justify-content : space-between;
  align-items     : baseline;
  flex-wrap       : wrap-reverse;
}

.even .heading {
  justify-content : flex-end;
}

.date {
  line-height : 1;
  flex-grow   : 1;
}

.month {
  text-transform : uppercase;
  padding-left   : 3px;
  padding-right  : 3px;
}

.year {
}

.more {
  composes     : inline-upper-case from '../../css/theme-utils.css';
  padding-left : 5px;
}
