.container {
  composes : m-b-2 from '../../css/space-utils.css';
  position : relative;
}

.even {
  composes   : container;
  text-align : right;
}

.odd {
  composes : container;
  text-align : left;
}

.heading {
  display         : flex;
  justify-content : space-between;
  align-items     : baseline;
  flex-wrap       : wrap-reverse;
}

.date {
  line-height : 1;
  flex-grow   : 1;
}

.month {
  text-transform : uppercase;
  padding-left   : 3px;
  padding-right  : 3px;
}

.year {
}

.more {
  composes     : inline-upper-case from '../../css/theme-utils.css';
  padding-left : 5px;
}
