@value low-dpi from '../../css/space-utils.css';
@value ld-p-l-1 from '../../css/space-utils.css';
@value ld-p-r-1 from '../../css/space-utils.css';

@media low-dpi {
  .container {
    position      : relative;
    width         : 65%;
    margin-bottom : -3.3rem;
  }

  .even {
    composes   : container;
    composes   : ld-p-r-1;
    text-align : right;
    right      : 15%;
  }

  .odd {
    composes   : container;
    composes   : ld-p-l-1;
    text-align : left;
    left       : 50%;
  }
}

.tag {
  display          : inline-block;
  padding          : 5px 8px;
  font-size        : 0.75rem;
  line-height      : 1rem;
  margin-right     : 5px;
  background-color : #FC9F5B;
  color            : #FBFBF8;
  border-radius    : 2px;
}

.date {
  line-height : 1;
  flex-grow   : 1;
}

.month {
  text-transform : uppercase;
  padding-left   : 3px;
  padding-right  : 3px;
}

.more {
  composes     : inline-upper-case from '../../css/theme-utils.css';
  padding-left : 5px;
  white-space  : nowrap;
}
