@value low-dpi from '../../css/space-utils.css';

.wrapper {
  position   : relative;
  min-height : 100vh;
}

.container {
  composes : container from '../../css/theme-utils.css';
  position : relative;
}

.clearfix {
  position       : relative;
  height         : 1px;
  padding-bottom : 4.95rem;
  z-index        : -1;
}

.timeline {
  composes     : m-t-1 from '../../css/space-utils.css';
  composes     : border--black from '../../css/theme-utils.css';
  position     : absolute;
  top          : 0;
  bottom       : 4.95rem;
  width        : calc(50% - 1.65rem);
  z-index      : -1;
}

@media low-dpi {
  .timeline {
    border-right : 1px solid;
  }
}
