.wrapper {
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.container {
  composes    : container from '../css/theme-utils.css';
  padding-top : 0;
  text-align  : center;
}

.title {
  composes: title from '../css/theme-utils.css';
  composes: m-t-1 from '../css/space-utils.css';
}

.purpose {
  display : none;
}

@media (min-width : 376px) {
  .purpose {
    display : block;
  }
}

.links {
  composes        : m-x-a from '../css/space-utils.css';
  display         : flex;
  justify-content : space-around;
  max-width       : 350px;
}
