@value large-phone from '../css/space-utils.css';

.wrapper {
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.container {
  composes    : container from '../css/theme-utils.css';
  padding-top : 0;
  text-align  : center;
}

.title {
  composes : title from '../css/theme-utils.css';
  composes : m-t-1 from '../css/space-utils.css';
}

.purpose {
  display : none;
}

@media large-phone {
  .purpose {
    display : block;
  }
}

.links {
  composes        : m-x-a from '../css/space-utils.css';
  composes        : upper-case from '../css/theme-utils.css';
  display         : flex;
  flex-direction  : column;
  justify-content : space-around;
  max-width       : 350px;
}

@media large-phone {
  .links {
    flex-direction : row;
  }
}

.link {
  composes : p-x-1-2 from '../css/space-utils.css';
}
